<%- model_class = Influencer -%>
<div class="card">
  <img class="card-img-top" data-src="holder.js/100%x180/" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"><%= @influencer.first_name %> <%= @influencer.last_name %></h4>
    <p class="card-text"><%= @influencer.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @influencer.facebook_followers %></li>
    <li class="list-group-item"><%= @influencer.twitter_followers %></li>
    <li class="list-group-item"><%= @influencer.youtube_followers %></li>
    <li class="list-group-item"><%= @influencer.instagram_followers %></li>
  </ul>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
