<div class="col-md-4">
  <div style='text-align: center' class="panel">
    <div class="panel-body">
      <p ><img class='profile-pic' src="<%= image_url("profiles/Profile#{influencer.user.id}.jpg")%>" alt="Profile photo"></p>
      <h3><%= influencer.first_name %> <%= influencer.last_name %></h3>
      <p>Minimum $<%=influencer.minimum_price%></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Facebook followers: <%= influencer.facebook_followers %></li>
        <li class="list-group-item">Twitter followers: <%= influencer.twitter_followers %></li>
        <li class="list-group-item">Youtube followers: <%= influencer.youtube_followers %></li>
        <li class="list-group-item">Instagram followers: <%= influencer.instagram_followers %></li>
      </ul>
      <div>
        <a href="#" class="btn btn-info">Contact me</a>
      </div>
    </div>
  </div>
</div>
