<div class="col-xs-12 col-md-4 col-lg-4">
  <div class="panel">
    <div class="panel-body">
      <div style='text-align:center'><img class='profile-pic' src="<%= image_url("campaigns/campaign (#{campaign.id}).jpg")%>" alt="Campaign photo"></div>
      <br>
      <h4 align="center"><%= link_to truncate(campaign.title, length: 24, separator: ' '), advertiser_campaign_path(campaign.advertiser, campaign)%></h4>
      <p><%= truncate(campaign.description, length: 60, separator: ' ') %></p>
      <p>Price: $<%=campaign.price%></p>
      <p><div class="label label-primary"><%=campaign.industry%></div></p>
    </div>
  </div>
</div>
