<div class="page-header">
    <h1><%=@campaign.title%></h1>
</div>

<div class="panel-body">
    <p><%=@campaign.description%></p>
    <p>Budget: $<%=@campaign.price%></p>
</div>

<div class='shortlisted_influencers row' >
    <h3>Shortlisted influencers</h3>
    <% if @shortlisted_influencers.empty? %>
        <p class="alert alert-warning"> No one yet. Time to pick a few influencers</p>
    <% end %>
        
    <% @shortlisted_influencers.each do |influencer| %>
        <%= render influencer, influencer_type: 'shortlisted', campaign_id: @campaign.id %>
    <% end %>
</div>
<br/>
<div class='interested_influencers row'>
    <h3>Interested influencers</h3>
    <% @interested_influencers.each do |influencer| %>
        <%= render influencer, influencer_type: 'interested', campaign_id: @campaign.id %>
    <% end %>
</div>
<br/>
<div class='recommender_influencers row'>
    <h3>Recommended influencers</h3>
    <% @recommended_influencers.each do |influencer| %>
        <%= render influencer, influencer_type: 'recommended', campaign_id: @campaign.id %>
    <% end %>
</div>
